.categories-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 5px;
}

/*Above style parent to categoryItem styles*/
  