.footer{
    background-image: linear-gradient(-90deg, #0a0b0d, #0a0b0d); 
    color: #bfa060;  
}

.foot-pic img{
    max-width: 8rem;
}

.cont-ca img{
    width: 20rem;
    height: 20rem;
}

.social-icon{
    margin: 20px 10px;
    color: #B3541E;
    font-size: 1.1rem;
}

.stream-all{
    margin: 0 !important;
    padding: 0 !important;
}